<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>header}}
  </head>
  <body class="bg-light">
    <div class="container">
        {{>nav}}
        {{{body}}}
    </div>
  </body>
  {{>footer}}
</html>
